{% load static %} 
<div class="navbar">
  <div class="container">
      <div class="left">
        <img src="{% static './images/logo.jpg' %}" alt="Online Cushion Store">
            <span>Home</span>
            <span>Iphone</span>
            <span>Android</span>
            <span>Windows</span>
            <span>Classic</span>
            <span>Popular</span>
       </div>
      
       <div class="right">
              <div class="navbadge">
                <a href="{% url 'cart:cart_detail' %}">
                  <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-shopping-bag-ecommerce-kiranshastry-lineal-kiranshastry.png"/>
                    <span class="noti">{{item_count}}</span>
                  </a>
            </div>
            <img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/>
           <span>KIDS</span>
           <img src="https://img.icons8.com/material-outlined/24/000000/appointment-reminders--v2.png"/>
           <img src="{% static './images/Profile-Photo.jpg' %}" alt="Profile picture">
           <div class="profile">
               <ArrowDropDown class="icon"/>
               <div class="options">
                   <span>Settings</span>
                   <span>Logout</span>
               </div>
           </div>
           
       </div>
  </div>
</div>



















<!-- <nav>
  <div class="container-fluid">

      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
              <div class="dropdown">
                <a 
                 class="nav-link dropdown-toggle"
                 id="navbarDropdown"
                 role="button"
                 data-toggle="dropdown" 
                 aria-expanded="false"
                 href="#">
                 Shop
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">            
                    <li><a class="dropdown-item" href="{% url 'shop:allProdCat' %}">All Products</a></li>
                    {% for cat in links %}
                    <li><a class="dropdown-item" href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
                    {% endfor %}
                </ul>
              </div>   
              </li>
              <li><a class="nav-link nav-item" href="{% url 'cart:cart_detail' %}">Your Cart</a></li>
        </ul>
            

  

        <ul class="navbar-nav d-flex flex-row me-1">
          {% if item_count > 0 %}
          <li class=" me-3 me-lg-0">
            <div class="navbadge">
                <a href="{% url 'cart:cart_detail' %}">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="noti">{{item_count}}</span>
                  </a>
            </div>
            
          </li>
          {% endif %}
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
   
        <form class="d-flex", action="{% url 'search_app:searchResult' %}" method="get">
          <input
            type="search"
            class="form-control"
            me-2
            placeholder="Search"
            aria-label="Search"
            name="q"
          />
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
  </div>

</nav>  -->