
{% extends "base.html" %}
{% load static %}
{% block metadescription %}
	{% if category %}
		{{ category.description|truncatewords:155 }}
	{% else %}
		Welcome to the cushion store where you can buy comfy and awesome cushions.
	{% endif %}
{% endblock %}
{% block title %}
	{% if category %}
		{{ category.name }} - Perfect Cushion Store
	{% else %}
		See Our Cushion Collection - Perfect Cushion Store
	{% endif %}
{% endblock %}
{% block content %}
	<!--Breadcrumb navigation-->

    <div class="category_container">

		<div class="row h-100">
			<form class="d-flex clo-lg-6 col-md-6 col-sm-12 mx-auto my-auto" action="{% url 'search_app:searchResult' %}" method="get">
				<input
				  type="search"
				  class="form-control"
				  me-2
				  placeholder="Search"
				  aria-label="Search"
				  name="q"
				/>
				<button class="btnSearch btn-primary px-5 my-sm-0" type="submit">Search</button>
			  </form>
		</div>

		<section class="home_banner  p-5 m-5 ">
        <div class="category_row dual_rowcard bg-light p-5 mx-5">
            {% for product in products %}
			<div class="pcard zoomin_container">
				<!-- <div class="pcard_image xzoom"> -->
					
						<a class="pcard_image xzoom img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" /></a>
						<div class="discount bg-danger"><h1>{{product.voucher.discount}}<span>%</span></h1></div>
					
				<!-- </div> -->
				<div class="pcard_body">
					<small class="product_category">{{product.category}}</small>
					<h4 class="pcard_title">
						<a href="{{product.get_absolute_url}}">{{product.name}}</a>
					</h4>
					<p class="pcard_text">
						{{product.description}}
					</p>
					<div class="pcard_icons">
						<div class="price">€{{product.price}}</div>
						<div class="icons_card">
							<div class="ficon" id="">
								<a class="#" href="{% url 'cart:add_cart' product.id %} "><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
							</div>
							<div class="licon" id="">
								<a href="#"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
							</div>
							
							
							
						<!-- <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M6 16h-5v6h22v-6h-5v-1h6v8h-24v-8h6v1zm14 2c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1zm-7.5-17v14.884l4.736-5.724.764.645-5.979 7.195-6.021-7.205.765-.644 4.735 5.732v-14.883h1z"/></svg> -->
						</div>
					</div>
				</div>

			</div>
            {% endfor %}
		</div>
		


		<div class="#">
			{% if products.paginator.num_pages > 1 %}
				<hr>
				<div class="paginate_button text-center">
					{% for pg in products.paginator.page_range %}
						<a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</section>
	
	</div>
{% endblock %}

